* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.signin-page {
    /* Bu tasarımların sadece bu sayfada geçerli olması için */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #b5ffb1, #abe5b3);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signIn-container {
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

}

.signIn-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.signIn-container input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    background: white;
    color: rgb(0, 0, 0);
}

.signIn-container button {
    width: 100%;
    padding: 15px;
    background: #21df17;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

.signIn-container button:hover {
    background: #3cfb31;
}

/* Daha önce girilen metin seçildiğinde arka plan rengi değişiyordu. Burası arka plan ve metin rengini sabit tutmak için. */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset;
    -webkit-text-fill-color: #000;
    box-shadow: 0 0 0 30px white inset;
}